*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: cursive;
    min-height: 100vh;
}

.piano-container{
    background-color: whitesmoke;
    padding: 20px;
    border: 2px solid #ccc;
}

#keys{
    display: flex;
    position: relative;
}

.whitekey{
    display: block;
    height: 100px;
    width: 40px;
    background-color: white;
    border: 1px solid #ccc;
    margin-right: -1px;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    cursor: pointer;
}

.blackkey{
    display: block;
    height: 100px;
    width: 40px;
    background-color: black;
    color: white;
    border: 1px solid #ccc;
    margin-right: -1px;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    cursor: pointer;
}